body {
    font-family: 'Georgia', serif; 
    background: linear-gradient(to bottom, #000000, #1a1a1a); 
    color: #3e2f1c;
    margin: 0;
    padding: 0;
}
body {
    background-color: #000000; 
    color: #ffffff; 
}
h1 {
    color: #ffd700; text-align:center;
    font-size: 3em;
    text-shadow:2px 2px 5px rgba(255, 215, 0, 0.5);
    
}
h2 {
    color: lawngreen;
    text-align: center;
    font-size: 2em;
    margin-top 30px;
    margin-bottom:15px;
    text-shadow: 1px, 1px, 3px, rgba(255,255,255,0.3);
     font-family: 'Georgia', serif; 
     border: 2px solid #ffffff;
     padding: 10px 20px;
     border-radius: 12px;


h2 {
  text-align: center;
  color: white;
}

h2 a {
  display: block;
  margin: 10px auto;
  padding: 15px 20px;
  width: 80%;               
  background: red;      
  color: darkred;
  border: 3px solid #03b5d3;
  border-radius: 12px;  
  
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 0 10px #00eaff55;
  transition: 0.3s;
}

h2 a:hover {
  background: #00c8ff;
  box-shadow: 0 0 15px #00eaff;
  transform: scale(1.05);
}
.caixa {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background: grey;   
  border: 3px solid red;
  border-radius: 20px;  
}